<!DOCTYPE html>
<html>
<head>
    <title>Recipe Input</title>
</head>
<body>
    <h1>Welcome to Homecooked!</h1>
    <form action="/create_recipe" method="post">
        <label for="ingredient">Ingredient:</label>
        <input type="text" name="ingredient" required><br><br>

        <label for="cost">Cost:</label>
        <input type="number" name="cost" required><br><br>

        <label for="type_of_meal">Type of Meal:</label>
        <input type="text" name="type_of_meal" required><br><br>

        <!-- New fields for date and time inputs -->
        <label for="date_input">Date:</label>
        <input type="date" name="date_input" required><br><br>

        <label for="time_input">Time:</label>
        <input type="time" name="time_input" required><br><br>

        <input type="submit" value="Generate Recipe">
    </form>
</body>
</html>
